body {
  max-width: 60em;
  font-size: 10px;
  margin: 0 auto;
  background-image: url("http://hampsterdance.com/images/gerbil.gif");
  background-repeat: repeat;
  font-family:Helvetica, sans-serif;
}

h1 {
	background-color: white;
}

* {
	text-align:Center;
}